@import "tailwindcss";

@layer base {
  * {
    @apply antialiased;
  }

  html, body {
    @apply overflow-hidden;
  }
}

@layer utilities {
  /* Hide scrollbar for compare list */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-select {
    -webkit-user-select: none;
    user-select: none;
  }
}
